{
  "port": 8000,
  "facebook": {
    "baseUrl": "https://graph.facebook.com",
    "accessTokenEndpoint": "v2.11/oauth/access_token",
    "debugTokenEndpoint": "debug_token",
    "appId": "",
    "redirectUri": "",
    "appSecret": ""
  },
  "mongodb": {
    "url": "mongodb://localhost:27017",
    "name": "movie-manager"
  }
}