{
  "port": 8000,
  "facebook": {
    "baseUrl": "https://graph.facebook.com",
    "accessTokenEndpoint": "v2.11/oauth/access_token",
    "debugTokenEndpoint": "debug_token",
    "appId": "",
    "redirectUri": "",
    "appSecret": ""
  },
  "database": {
    "name": "movie-manager",
    "username": "username",
    "password": "password",
    "config" : {
      "host": "localhost",
      "dialect": "postgres"
    }
  }
}
